NODE_ENV=development
APP_NAME=logistics-api
PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=logistics
DB_PASSWORD=logistics
DB_NAME=logistics
DB_LOGGING=false
DB_SSL=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
