NODE_ENV=development
APP_NAME=logistics-api
PORT=3000
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=logistics
DB_LOGGING=false
DB_SSL=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

